body{
    background-color:pink;
    padding:100px;
    padding-top: 10px;
}
form{
    background-color: white;
    padding:35px;
    width:35%;
    border:1.5px solid black;
    border-radius:15px;

    
}

#label{
   
    float: left;
}
#input{
   
    float: right;
}
select{
    float:right;
}